* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #7f888f;
    text-align: justify;
}

h1, h3, h2 {
    font-family: 'Open Sans', sans-serif;
    font: bold;
}

div header h2 {
    color: #7f888f;
}

div header h3 span {
    color: #7f888f;
    display: inline;
}

h3.firstHeader {
    display: inline;
}

header.theFirstOne {
    border-bottom: #f56a6a solid 0.3em;
    display: flex;
    justify-content: space-between;
}


div.imagewe {
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    border-radius: 0.6em;
    width: 29em;
    height: 24em;
}

ul.UL {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none; 
    align-content: space-between;
}

div.divS header div.right {
    height: 35em;
    width: 35em;
    display: inline;
    justify-content: left;
    align-items : baseline;
}

div.divS header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

