* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #7f888f;
    text-align: justify;
}

h1, h3, h2 {
    font-family: 'Open Sans', sans-serif;
    font: bold;
}

div header h2 {
    color: #7f888f;
}

div header h3 span {
    color: #7f888f;
    display: inline;
}

h3.firstHeader {
    display: inline;
}

header.theFirstOne {
    border-bottom: #f56a6a solid 0.3em;
    display: flex;
    justify-content: space-between;
}


div.imagewe {
    display: flex;
    justify-content: right;
    align-items: center;
}

img {
    border-radius: 0.6em;
    width: 29em;
    height: 24em;
}

ul.UL {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none; 
    align-content: space-between;
}

div.divS header div.right {
    width: 36em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.divS header {
    display: flex;
    align-items: center;
}

h3#erat {
    display: inline;
    border-bottom: #f56a6a solid 0.3em;
    padding: 0.6em;
}

article.usoG {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;  
    justify-content: space-evenly;
    align-content: center;
    grid-gap: 1em;
}

div.divS {
    padding: 8em;
    justify-content: space-evenly;
    align-content: center;
}
